{
  "globals": {
    "jest": true
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "quotes": [2, 'single'],
    "no-mixed-spaces-and-tabs": 2
  }
}
